<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></head>
	<title>A journey through Web API Space & Time</title>
	<link type="text/css" href="style.css" rel="stylesheet" media="screen">
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script src="app.js"></script>
</head>

<body>
	<div class="container">

		<form method="post" action="#" id="directions">
			<div class="form-field">
				<label for="">Where would you like to go?</label>
				<input type="text" name="destination" id="destination" />
				<input type="submit" Value="Get Directions" />
			</div>
		</form>

	  <div id="map"></div>

		<p>I've separated out the South America Demo, <a href="/another">which you can view here</a>, so you can see the code separately</p>

	</div>
</body>

<script type="text/javascript">


var mapDiv = document.getElementById('map'),
		newMap,
		setCenter = {};
// refactor into init()
if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(function (position) {
		setCenter.lat = position.coords.latitude;
		setCenter.lng = position.coords.longitude;
		// see app.js for createMap function (creates a google map)
		newMap = createMap(mapDiv, setCenter.lat, setCenter.lng);
		showRoute();
	});
} else {
	console.warn('sorry, geolocation not supported');
}

function showRoute() {
	var destinationForm = document.forms[0];
	destinationForm.onsubmit = function(e) {
		e.preventDefault();
		var dest = destinationForm.destination.value;
		// see app.js for the calculateRoute function (uses google maps directions service to give route)
		calculateRoute('London', dest, newMap);
	}
}

function init() {
	
}
init();

</script>

</html>
